@import "../../styles/sd.scss";

.sd-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  outline: 0;

  &--open {
    display: block;
    opacity: 1;
    transition: opacity 0.15s linear;
    overflow-x: hidden;
    overflow-y: auto;

    .sd-modal__dialog {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }

  &--closed {
    display: none;
    opacity: 0;
    transition: opacity 0.15s linear;

    .sd-modal__dialog {
      transition: -webkit-transform 0.3s ease-out;
      transition: transform 0.3s ease-out;
      transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
      -webkit-transform: translate(0, -25%);
      transform: translate(0, -25%);
    }
  }

  &__dialog {
    position: relative;
    width: auto;
    margin: 6rem 1rem;
    pointer-events: none;
  }
  @media (min-width: 576px) {
    &__dialog--sm {
      max-width: 350px;
      margin: 6rem auto;
    }
    &__dialog--md {
      max-width: 500px;
      margin: 6rem auto;
    }
    &__dialog--lg {
      max-width: 700px;
      margin: 6rem auto;
    }

  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: var(--white);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;

    &__title {
      font-size: #{$font-size-lg};
      font-weight: 700;
      margin-bottom: 0;
      line-height: 1.5;
      color: #{$text};
    }

    &__close-icon {
      float: right;
      opacity: 0.5;
    }
  }

  &__body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
  }

  &__footer {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid #e9ecef;

    &__start {
      justify-content: flex-start;
    }

    &__middle {
      justify-content: center;
    }

    &__end {
      justify-content: flex-end;
    }
  }

  &__container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1071;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
