$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3
) !default;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$grid-columns: 12 !default;
$grid-gutter-width: 1.5rem !default;
$grid-row-columns: 6 !default;

$utilities: (
  'display': (
    responsive: true,
    property: display,
    class: d,
    values: inline inline-block block grid inline-grid table table-row table-cell flex inline-flex
      none
  ),
  'flex': (
    responsive: true,
    property: flex,
    values: (
      fill: 1 1 auto
    )
  ),
  'flex-direction': (
    responsive: true,
    property: flex-direction,
    class: flex,
    values: row column row-reverse column-reverse
  ),
  'justify-content': (
    responsive: true,
    property: justify-content,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
      evenly: space-evenly
    )
  ),
  'align-items': (
    responsive: true,
    property: align-items,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      baseline: baseline,
      stretch: stretch
    )
  ),
  'align-content': (
    responsive: true,
    property: align-content,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
      stretch: stretch
    )
  ),
  'align-self': (
    responsive: true,
    property: align-self,
    values: (
      auto: auto,
      start: flex-start,
      end: flex-end,
      center: center,
      baseline: baseline,
      stretch: stretch
    )
  ),
  'flex-grow': (
    responsive: true,
    property: flex-grow,
    class: flex,
    values: (
      grow-0: 0,
      grow-1: 1
    )
  ),
  'flex-shrink': (
    responsive: true,
    property: flex-shrink,
    class: flex,
    values: (
      shrink-0: 0,
      shrink-1: 1
    )
  ),
  'flex-wrap': (
    responsive: true,
    property: flex-wrap,
    class: flex,
    values: wrap nowrap wrap-reverse
  ),
  'order': (
    responsive: true,
    property: order,
    values: (
      -1: -1,
      0: 0,
      1: 1,
      2: 2,
      3: 3,
      4: 4,
      5: 5,
      6: 6
    )
  ),
  'margin': (
    responsive: true,
    property: margin,
    class: m,
    values:
      map-merge(
        $spacers,
        (
          auto: auto
        )
      )
  ),
  'margin-x': (
    responsive: true,
    property: margin-right margin-left,
    class: mx,
    values:
      map-merge(
        $spacers,
        (
          auto: auto
        )
      )
  ),
  'margin-y': (
    responsive: true,
    property: margin-top margin-bottom,
    class: my,
    values:
      map-merge(
        $spacers,
        (
          auto: auto
        )
      )
  ),
  'margin-top': (
    responsive: true,
    property: margin-top,
    class: mt,
    values:
      map-merge(
        $spacers,
        (
          auto: auto
        )
      )
  ),
  'margin-end': (
    responsive: true,
    property: margin-right,
    class: me,
    values:
      map-merge(
        $spacers,
        (
          auto: auto
        )
      )
  ),
  'margin-bottom': (
    responsive: true,
    property: margin-bottom,
    class: mb,
    values:
      map-merge(
        $spacers,
        (
          auto: auto
        )
      )
  ),
  'margin-start': (
    responsive: true,
    property: margin-left,
    class: ms,
    values:
      map-merge(
        $spacers,
        (
          auto: auto
        )
      )
  ),
  'padding': (
    responsive: true,
    property: padding,
    class: p,
    values: $spacers
  ),
  'padding-x': (
    responsive: true,
    property: padding-right padding-left,
    class: px,
    values: $spacers
  ),
  'padding-y': (
    responsive: true,
    property: padding-top padding-bottom,
    class: py,
    values: $spacers
  ),
  'padding-top': (
    responsive: true,
    property: padding-top,
    class: pt,
    values: $spacers
  ),
  'padding-end': (
    responsive: true,
    property: padding-right,
    class: pe,
    values: $spacers
  ),
  'padding-bottom': (
    responsive: true,
    property: padding-bottom,
    class: pb,
    values: $spacers
  ),
  'padding-start': (
    responsive: true,
    property: padding-left,
    class: ps,
    values: $spacers
  ),
  'gap': (
    responsive: true,
    property: gap,
    class: gap,
    values: $spacers
  ),
  'row-gap': (
    responsive: true,
    property: row-gap,
    class: row-gap,
    values: $spacers
  ),
  'column-gap': (
    responsive: true,
    property: column-gap,
    class: column-gap,
    values: $spacers
  ),
  'text-align': (
    responsive: true,
    property: text-align,
    class: text,
    values: (
      start: left,
      end: right,
      center: center
    )
  ),
  'text-decoration': (
    property: text-decoration,
    values: none underline line-through
  ),
  'text-transform': (
    property: text-transform,
    class: text,
    values: lowercase uppercase capitalize
  ),
  'float': (
    responsive: true,
    property: float,
    values: (
      start: left,
      end: right,
      none: none
    )
  ),
  'cursor': (
    property: cursor,
    values: default auto pointer not-allowed move grab grabbing zoom-in zoom-out help progress wait
  ),
  'pointer-events': (
    property: pointer-events,
    values: all auto none
  ),
  'user-select': (
    property: user-select,
    values: all auto none text contain
  )
);
