@import 'utilities';
@import 'mixins';

@include all-color-class;

@each $breakpoint in map-keys($breakpoints) {
  @include media-breakpoint-down($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);
    @each $key, $utility in $utilities {
      @if type-of($utility) == 'map' and (map-get($utility, responsive) or $infix == '') {
        @include generate-utility($utility, $infix);
      }
    }
  }
}

.#{$variable-prefix}row {
  @include make-row();

  > * {
    @include make-col-ready();
  }
}

@include make-grid-columns();

.#{$variable-prefix}grid {
  display: grid;
  grid-template-rows: repeat(var(--#{$variable-prefix}rows, 1), 1fr);
  grid-template-columns: repeat(var(--#{$variable-prefix}columns, #{$grid-columns}), 1fr);
  gap: var(--#{$variable-prefix}gap, #{$grid-gutter-width});

  @include make-cssgrid();
}

@each $variant, $color in $theme-colors {
  .#{$variable-prefix}focus-ring-#{$variant} {
    --ds-focus-ring-width: 0.25rem;
    --ds-focus-ring-color: rgba(#{to-rgb(map-get($custom-colors, $color))}, 0.25);
    &:focus {
      outline: var(--ds-focus-ring-width) solid var(--ds-focus-ring-color);
    }
  }
}
