.sd-tooltip {
  overflow: hidden;
  white-space: normal;
  &__header-text {
    width: calc(100% - 18px);
  }
  &__header {
    .sd-btn--link {
      margin-right: -14px;
    }
  }
  &__trigger {
    display: flex;
    overflow: hidden;
    :focus {
      outline: auto !important;
    }
    &__content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      > * {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: inherit;
      }
    }
  }
  &__content {
    display: inline-block;
  }
  .tippy-arrow,
  .tippy-arrow::before {
    z-index: -1;
  }
}
