// Margin
@each $abbr,
  $name
    in (
      "t": "top",
      "r": "right",
      "b": "bottom",
      "l": "left",
      "y": "block",
      "x": "inline"
    )
{
  @for $i from 1 through 20 {
    .m#{$abbr}-#{$i} {
      margin-#{$name}: 0.5rem * $i;
    }
  }
}
