:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --success: #{$success};
  --info: #{$info};
  --warning: #{$warning};
  --danger: #{$danger};
  --text: #{$text};

  --white: #{$white};
  --black: #{$black};

  --input-border-color: #{$input-border-color};
  --input-focus-shadow: #{$input-focus-shadow};
  --input-placeholder-color: #{$input-placeholder-color};
  --input-focus-border: #{$input-focus-border};
  --input-bg: #{$input-bg};
  --input-disabled-bg: #{$input-disabled-bg};
}
