//COLORS
$white: #fff !default;
$black: #000 !default;

$primary: #030d67 !default;
$secondary: #212529 !default;
$success: #198754 !default;
$info: #0dcaf0 !default;
$warning: #ffc107 !default;
$danger: #dc3545 !default;

$text: #343434 !default;
$input-border-color: #cfcfcf !default;
$input-placeholder-color: #595c5f !default;
$input-focus-shadow:0 0 0 0.25rem rgba(13, 110, 253, 0.25) !default;
$input-focus-border: #86b7fe !default;
$input-bg: $white;
$input-disabled-bg: #f2f2f2 !default;

//FONT SIZE
$font-size-root: null !default;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-xs: $font-size-base * 0.75 !default;
$font-size-sm: $font-size-base * 0.875 !default;
$font-size-md: $font-size-base * 1 !default;
$font-size-lg: $font-size-base * 1.25 !default;

//BORDER-RADIUS
$border-radius-xs: 0.125rem !default;
$border-radius-sm: 0.25rem !default;
$border-radius-md: 0.375rem !default;
$border-radius-lg: 0.5rem !default;
$border-radius-xl: 1rem !default;
$border-radius-xxl: 2rem !default;
$border-radius-pill: 50rem !default;

//INPUT & BUTTON
$input-btn-padding-y-xs: 0.25rem !default;
$input-btn-padding-x-xs: 0.5rem !default;
$input-btn-font-size-xs: $font-size-xs !default;

$input-btn-padding-y-sm: 0.25rem !default;
$input-btn-padding-x-sm: 0.5rem !default;
$input-btn-font-size-sm: $font-size-sm !default;

$input-btn-padding-y-md: 0.375rem !default;
$input-btn-padding-x-md: 0.75rem !default;
$input-btn-font-size-md: $font-size-md !default;

$input-btn-padding-y-lg: 0.5rem !default;
$input-btn-padding-x-lg: 1rem !default;
$input-btn-font-size-lg: $font-size-lg !default;

//BUTTON
$btn-padding-y-xs: $input-btn-padding-y-xs !default;
$btn-padding-x-xs: $input-btn-padding-x-xs !default;
$btn-font-size-xs: $font-size-xs !default;

$btn-padding-y-sm: $input-btn-padding-y-sm !default;
$btn-padding-x-sm: $input-btn-padding-x-sm !default;
$btn-font-size-sm: $font-size-sm !default;

$btn-padding-y-md: $input-btn-padding-y-md !default;
$btn-padding-x-md: $input-btn-padding-x-md !default;
$btn-font-size-md: $font-size-md !default;

$btn-padding-y-lg: $input-btn-padding-y-lg !default;
$btn-padding-x-lg: $input-btn-padding-x-lg !default;
$btn-font-size-lg: $font-size-lg !default;
