@import "../../styles/sd.scss";

.progressBar {
  overflow: hidden;
  counter-reset: step;
  display: flex;
  justify-content: center;
  span {
    text-transform: uppercase;
    font-size: 14px;
    width: 150px;
    float: left;
    position: relative;
    z-index: 0;
    text-align: center;
    @media screen and (max-width: 900px) {
      font-size: 12px;
      width: 85px;
    }

    &.clickable {
      cursor: pointer;
    }

    &::before {
      content: counter(step);
      counter-increment: step;
      width: 30px;
      line-height: 30px;
      display: block;
      font-size: 13px;
      color: #fff;
      background: #757575;
      border-radius: 50%;
      margin: 0 auto 5px auto;
      @media screen and (max-width: 900px) {
        width: 20px;
        line-height: 20px;
        font-size: 12px;
      }
    }

    &::after {
      content: "";
      width: 100%;
      height: 3px;
      background: #e2e2e2;
      position: absolute;
      left: -60px;
      top: 14px;
      z-index: -1;
      @media screen and (max-width: 900px) {
        left: -32px;
        top: 9px;
      }
    }

    &:first-child:after {
      content: none;
    }

    &.active:before,
    &.active:after {
      background: var(--primary);
      color: rgb(255, 255, 255);
    }
  }
}
