.showToast {
  min-width: 250px;
  margin-left: -125px;
  background-color: #f6f6f6;
  color: #2a2a2a;
  text-align: center;
  border-radius: 2px;
  padding: 15px;
  position: fixed;
  z-index: 9999;
  left: 90%;
  top: 55px;

  .body {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
  }
}
.success {
  border-left: 8px solid #47d764;
}
.error {
  border-left: 8px solid #ff355b;
}
.info {
  border-left: 8px solid #2f86eb;
}
.warning {
  border-left: 8px solid #ffc021;
}
