@import "@/scss/function";
.ds-typography {
  @include add-reboot;

  // headings
  &--h1 {
    --ds-font-size: 2.5rem; //40px
  }
  &--h2 {
    --ds-font-size: 2rem; //32px
  }
  &--h3 {
    --ds-font-size: 1.75rem; //28px
  }
  &--h4 {
    --ds-font-size: 1.5rem; //24px
  }
  &--h5 {
    --ds-font-size: 1.25rem; //20px
  }
  &--h6 {
    --ds-font-size: 1rem; //16px
  }
  &--small {
    --ds-font-size: 0.75rem; //12px
  }
  &--caption {
    --ds-font-size: 0.625rem; //10px
    display: inline-flex;
  }
  &--b {
    --ds-font-weight: bold;
  }
  // page title
  &--title {
    --ds-font-size: 1.75rem;
    --ds-line-height: 120%;
  }

  // body
  &--body {
    --ds-line-height: 150%;
    --ds-font-size: 0.875rem;
    &-small {
      --ds-font-size: 0.75rem;
      --ds-line-height: 120%;
    }
    &-regular {
      --ds-font-size: 0.875rem;
      --ds-line-height: 150%;
    }
    &-large {
      --ds-font-size: 1rem;
      --ds-line-height: 150%;
    }
    &-x-large {
      --ds-font-size: 1.25rem;
      --ds-line-height: 150%;
    }
  }

  //badge
  &--badge {
    --ds-font-size: 0.75rem;
    --ds-line-height: 100%;
    &-bold {
      --ds-font-size: 0.75rem;
      --ds-line-height: 100%;
      --ds-font-weight: 500;
    }
  }

  //button
  &--button {
    &-sm {
      --ds-font-size: 0.75rem;
      --ds-line-height: 150%;
      --ds-font-weight: 500;
    }
    &-md {
      --ds-font-size: 0.875rem;
      --ds-line-height: 150%;
      --ds-font-weight: 500;
    }
    &-lg {
      --ds-font-size: 1rem;
      --ds-line-height: 150%;
      --ds-font-weight: 500;
    }
    &-xl {
      --ds-font-size: 1.25rem;
      --ds-line-height: 150%;
      --ds-font-weight: 500;
    }
  }

  &--graph {
    --ds-font-size: 0.625rem;
    --ds-line-height: 150%;
    &-bold {
      --ds-font-weight: bold;
      --ds-font-size: 0.625rem;
      --ds-line-height: 150%;
    }
  }

  &--accordion {
    &-header {
      --ds-font-size: 1rem;
      --ds-line-height: 120%;
    }
  }

  &--modal {
    &-title {
      --ds-font-size: 1.25rem;
      --ds-line-height: 150%;
    }
  }

  &--popover {
    &-title {
      --ds-font-size: 1rem;
      --ds-line-height: 120%;
    }
  }

  &--toast {
    &-title {
      --ds-font-size: 0.875rem;
      --ds-line-height: 150%;
      --ds-font-weight: bold;
    }
  }

  &--table {
    &-header-sm {
      --ds-font-size: 0.875rem;
      --ds-line-height: 150%;
      --ds-font-weight: bold;
    }
    &-header-md {
      --ds-font-size: 1rem;
      --ds-line-height: 150%;
      --ds-font-weight: bold;
    }
  }

  // link
  @mixin link {
    text-decoration: underline;
    --ds-line-height: 150%;
    &:visited,
    &:hover,
    &:active,
    &:focus {
      color: var(--ds-blue-600);
    }
  }
  &--link {
    @include link;
    &-emphasis {
      @include link;
      color: var(--ds-blue-500);
    }
    &-small {
      @include link;
      --ds-font-size: 0.875rem;
      &-emphasis {
        @include link;
        color: var(--ds-blue-500);
      }
      &-bold {
        @include link;
        --ds-font-size: 0.875rem;
        --ds-font-weight: bold;
        &-emphasis {
          @include link;
          color: var(--ds-blue-500);
        }
      }
    }
    &-large {
      @include link;
      --ds-font-size: 1.25rem;
      &-emphasis {
        @include link;
        color: var(--ds-blue-500);
      }
      &-bold {
        @include link;
        --ds-font-size: 1.25rem;
        --ds-font-weight: bold;
        &-emphasis {
          @include link;
          color: var(--ds-blue-500);
        }
      }
    }
    &-bold {
      @include link;
      --ds-font-weight: bold;
      &-emphasis {
        @include link;
        color: var(--ds-blue-500);
      }
    }
  }

  line-height: var(--ds-line-height, 120%);
  font-size: var(--ds-font-size, 1rem);
  font-weight: var(--ds-font-weight, normal);
}
