.ds-icon {
  &.ds-icon-size {
    &-sm {
      font-size: var(--ds-font-size-sm);
    }
    &-md {
      font-size: var(--ds-font-size-lg);
    }
    &-lg {
      font-size: calc(var(--ds-font-size-lg) * 1.5);
    }
    &-xl {
      font-size: calc(var(--ds-font-size-lg) * 2);
    }
  }

  display: inline-flex;
  align-items: center;
  svg {
    height: 1em;
    width: 1em;
    fill: currentColor;
    path {
      fill: inherit;
    }
  }

  &:focus {
    outline: none;
  }

  &--action {
    cursor: pointer;
    color: var(--ds-text-secondary);

    &:focus-visible {
      outline: 1px solid var(--ds-blue-600);
    }

    &:hover {
      color: var(--ds-text-primary);
    }
  }
}
