.sd-popover,
.sd-popover__trigger {
  width: fit-content;
}

.tippy-box {
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  filter: drop-shadow(0 1px 8px rgba(48, 48, 48, 0.25));
}

.tippy-arrow {
  color: #fff;
}
