.es-btn-group {
  display: flex;
  flex-direction: row;

  &-end {
    justify-content: flex-end;
  }

  &-vertical {
    flex-direction: column;

    &:deep() {
      .es-btn {
        max-width: fit-content;
      }
    }
  }

  &-vertical:not(&-gap):deep() {
    .es-btn {
      border-radius: 0;

      &:first-child {
        border-top-right-radius: 0.375rem;
        border-top-left-radius: 0.375rem;
      }

      &:last-child {
        border-bottom-right-radius: 0.375rem;
        border-bottom-left-radius: 0.375rem;
      }
    }
  }

  &:not(&-gap):not(&-vertical):deep() {
    .es-btn {
      &:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  &-gap {
    gap: 5px;
  }
}
