.loading-spinner {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;

  &__xs {
    width: 8x;
    height: 8px;
  }

  &__sm {
    width: 10px;
    height: 10px;
  }

  &__md {
    width: 12px;
    height: 12px;
  }

  &__lg {
    width: 14px;
    height: 14px;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.full-page-loader {
  position: fixed;
  display: grid;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(215, 215, 215, 0.5);
  cursor: pointer;
  z-index: 9999;
  place-items: center;
}

.horizontally-centered {
  display: grid;
  place-items: center;
}
