@import 'function';

:root,
:host {
  @include addVariables(dark) {
    --ds-light: #b2b8ca;
    --ds-light-bg-subtle: #f0f1f4;
    --ds-light-border-subtle: #d1d4df;
    --ds-light-text-emphasis: #33394a;

    --ds-dark: #d6d7db;
    --ds-dark-bg-subtle: #f5f5f6;
    --ds-dark-border-subtle: #5c616e;
    --ds-dark-text-emphasis: #0a0b0f;

    @each $name, $color in $custom-colors {
      --ds-#{$name}-bg: var(--ds-#{$name}-900);
      --ds-#{$name}-border: var(--ds-#{$name}-800);
      --ds-#{$name}-text: var(--ds-#{$name}-100);
    }

    @each $name, $color in $theme-colors {
      --ds-#{$name}-bg-subtle: var(--ds-#{$color}-800);
      --ds-#{$name}-border-subtle: var(--ds-#{$color}-700);
      --ds-#{$name}-text-emphasis: var(--ds-#{$color}-200);
    }

    --ds-body-color: #f5f5f6;
    --ds-body-bg: #1f222c;
    --ds-secondary-color: #adb0b7;
    --ds-secondary-bg: #14171e;
    --ds-tertiary-color: #5c616e;
    --ds-tertiary-bg: #0a0b0f;
    --ds-emphasis-color: var(--ds-white);
    --ds-border-color: #474d5c;

    --ds-box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.15);
    --ds-box-shadow-sm: 0 0.125rem 0.25rem rgba(255, 255, 255, 0.075);
    --ds-box-shadow-lg: 0 1rem 3rem rgba(255, 255, 255, 0.175);
    --ds-box-shadow-inset: inset 0 1px 2px rgba(255, 255, 255, 0.075);

    --ds-text-disabled: #5c616e;
    --ds-text-primary: #f5f5f6;
    --ds-text-secondary: #adb0b7;
    --ds-text-secondary-inverse: #707480;
    --ds-input-plain-text: #f5f5f6;

    --ds-popover-bg: #33394a;
    --ds-tooltip-bg: #d2d3d5;

    --ds-outline-button-bg: var(--ds-black);
  }
}
