// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
// IBM Plex Sans Font Family
@font-face {
  font-family: IBM Plex Sans;
  font-display: swap;
  src: url('../fonts/IBMPlexSans-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: IBM Plex Sans;
  font-display: swap;
  src: url('../fonts/IBMPlexSans-ThinItalic.ttf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: IBM Plex Sans;
  font-display: swap;
  src: url('../fonts/IBMPlexSans-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: IBM Plex Sans;
  font-display: swap;
  src: url('../fonts/IBMPlexSans-ExtraLightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: IBM Plex Sans;
  font-display: swap;
  src: url('../fonts/IBMPlexSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: IBM Plex Sans;
  font-display: swap;
  src: url('../fonts/IBMPlexSans-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: IBM Plex Sans;
  font-display: swap;
  src: url('../fonts/IBMPlexSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: IBM Plex Sans;
  font-display: swap;
  src: url('../fonts/IBMPlexSans-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: IBM Plex Sans;
  font-display: swap;
  src: url('../fonts/IBMPlexSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: IBM Plex Sans;
  font-display: swap;
  src: url('../fonts/IBMPlexSans-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: IBM Plex Sans;
  font-display: swap;
  src: url('../fonts/IBMPlexSans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: IBM Plex Sans;
  font-display: swap;
  src: url('../fonts/IBMPlexSans-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: IBM Plex Sans;
  font-display: swap;
  src: url('../fonts/IBMPlexSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: IBM Plex Sans;
  font-display: swap;
  src: url('../fonts/IBMPlexSans-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}
