@import 'variables';

// get color from color map as variable ex. --color-100: var(--ds-blue-100) for primary;
@mixin color-variant($variant, $color) {
  &-#{$variant} {
    --color-100: var(--ds-#{$color}-100);
    --color-200: var(--ds-#{$color}-200);
    --color-300: var(--ds-#{$color}-300);
    --color-400: var(--ds-#{$color}-400);
    --color-500: var(--ds-#{$color}-500);
    --color-600: var(--ds-#{$color}-600);
    --color-700: var(--ds-#{$color}-700);
    --color-800: var(--ds-#{$color}-800);
    --color-900: var(--ds-#{$color}-900);
  }
}

/**
* add all variant class to element with color variable
**/
@mixin all-variant-class {
  @include color-variant('primary', 'blue');
  @include color-variant('secondary', 'indigo');
  @include color-variant('info', 'skyblue');
  @include color-variant('danger', 'cyan');
  @include color-variant('warning', 'yellow');
  @include color-variant('success', 'green');

  @include color-variant('critical', 'pink');
  @include color-variant('severe', 'red');
  @include color-variant('high', 'cyan');
  @include color-variant('medium', 'orange');
  @include color-variant('low', 'yellow');
  @include color-variant('unknown', 'blue');

  @include color-variant('dark', 'dark');
  @include color-variant('light', 'light');
  @include color-variant('neutral', 'neutral');
  @include color-variant('link', 'blue');
}

// add -sm, -md, -lg class to element with component prefix ex. .ds-button-sm
@mixin all-size-class($noPadding: false) {
  $gap: 6px !default;
  $paddingX: 12px !default;
  $paddingY: 6px !default;

  --ds-gap: #{$gap};
  --ds-padding-x: #{$paddingX};
  --ds-padding-y: #{$paddingY};
  --ds-padding: var(--ds-padding-y) var(--ds-padding-x);
  --ds-font-size: var(--ds-font-size-base);

  &-sm {
    --ds-gap: 4px;
    --ds-padding-x: 8px;
    --ds-padding-y: 4px;
    --ds-padding: var(--ds-padding-y) var(--ds-padding-x);
    --ds-font-size: var(--ds-font-size-sm);
    font-size: var(--ds-font-size);
    line-height: 120%;
    @if ($noPadding == false) {
      padding: var(--ds-padding);
    }
  }
  &-md {
    --ds-gap: 6px;
    --ds-padding-x: 12px;
    --ds-padding-y: 6px;
    --ds-font-size: var(--ds-font-size-md);
    font-size: var(--ds-font-size);
    line-height: 150%;
    @if ($noPadding == false) {
      padding: var(--ds-padding);
    }
  }
  &-lg {
    --ds-gap: 8px;
    --ds-padding-x: 16px;
    --ds-padding-y: 8px;
    --ds-padding: var(--ds-padding-y) var(--ds-padding-x);
    --ds-font-size: var(--ds-font-size-lg);
    font-size: var(--ds-font-size);
    line-height: 150%;
    @if ($noPadding == false) {
      padding: var(--ds-padding);
    }
  }
  &-xl {
    --ds-gap: 10px;
    --ds-padding-x: 20px;
    --ds-padding-y: 10px;
    --ds-padding: var(--ds-padding-y) var(--ds-padding-x);
    --ds-font-size: var(--ds-font-size-xl);
    font-size: var(--ds-font-size);
    line-height: 150%;
    @if ($noPadding == false) {
      padding: var(--ds-padding);
    }
  }
}

/**
* this function will add variable to root element for theme(default is light) on root
**/
@mixin addVariables($theme: 'light') {
  @if $theme == 'light' {
    @content;
  } @else {
    @at-root [data-bs-theme='#{$theme}'] {
      @content;
    }
  }
}

// add reboot css to element where used
@mixin add-reboot {
  font-family: var(--ds-font-family);
}

// @function tint-color($color, $weight) {
//   @return lighten($color, $weight);
// }

// // Shade a color: darken a color with weight
// @function shade-color($color, $weight) {
//   @return darken($color, $weight);
// }

@function tint-color($color, $weight) {
  @return mix(white, $color, $weight);
}

// Shade a color: mix a color with black
@function shade-color($color, $weight) {
  @return mix(black, $color, $weight);
}

@function to-rgb($color) {
  @return red($color), green($color), blue($color);
}

@mixin add-graph-colors {
  // graph variables
  --ds-graph-text: var(--ds-text-secondary);
  --ds-graph-bg: var(--ds-transparent);
  --ds-graph-color-light-gray: var(--ds-neutral);

  // primary color for graph
  --ds-graph-color-purple: var(--ds-purple);
  --ds-graph-color-dark-blue: var(--ds-indigo);
  --ds-graph-color-blue: var(--ds-blue);
  --ds-graph-color-teal: var(--ds-teal);
  --ds-graph-color-green: var(--ds-green);
  --ds-graph-color-dark-yellow: var(--ds-yellow);
  --ds-graph-color-orange: var(--ds-orange);
  --ds-graph-color-coral: var(--ds-cyan);
  --ds-graph-color-blush: var(--ds-red);
  --ds-graph-color-pink: var(--ds-pink);

  // secondary color for graph
  --ds-graph-color-violet: #911eb4;
  --ds-graph-color-navy: #2228a0;
  --ds-graph-color-mid-blue: #4399d8;
  --ds-graph-color-emerald: #3cb44b;
  --ds-graph-color-lime: #bfef45;
  --ds-graph-color-lemon: #ffe119;
  --ds-graph-color-brown: #916324;
  --ds-graph-color-red: #e6194b;
  --ds-graph-color-magenta: #f032e6;
  --ds-graph-color-maroon: #8f1331;
}
