@import 'function';
@import 'variables';

:root,
:host {
  @include addVariables(light) {
    --#{$variable-prefix}black: #{$black};
    --#{$variable-prefix}white: #{$white};
    --#{$variable-prefix}black-rgb: #{to-rgb($black)};
    --#{$variable-prefix}white-rgb: #{to-rgb($white)};
    --#{$variable-prefix}transparent: transparent;

    @each $name, $color in $custom-colors {
      // create css variable for all colors ex. color, color-100, color-200, color-300, color-400, color-500, color-600, color-700, color-800, color-900
      --#{$variable-prefix}#{$name}: #{$color};
      --#{$variable-prefix}#{$name}-100: #{tint-color($color, 80%)};
      --#{$variable-prefix}#{$name}-200: #{tint-color($color, 60%)};
      --#{$variable-prefix}#{$name}-300: #{tint-color($color, 40%)};
      --#{$variable-prefix}#{$name}-400: #{tint-color($color, 20%)};
      --#{$variable-prefix}#{$name}-500: #{$color};
      --#{$variable-prefix}#{$name}-600: #{shade-color($color, 20%)};
      --#{$variable-prefix}#{$name}-700: #{shade-color($color, 40%)};
      --#{$variable-prefix}#{$name}-800: #{shade-color($color, 60%)};
      --#{$variable-prefix}#{$name}-900: #{shade-color($color, 80%)};
      --#{$variable-prefix}#{$name}-rgb: #{to-rgb($color)};

      // create bg, text, border css variable for all colors ex. color-bg, color-text, color-border
      --#{$variable-prefix}#{$name}-bg: var(--#{$variable-prefix}#{$name}-100);
      --#{$variable-prefix}#{$name}-border: var(--#{$variable-prefix}#{$name}-200);
      --#{$variable-prefix}#{$name}-text: var(--#{$variable-prefix}#{$name}-900);
    }

    @each $name, $color in $theme-colors {
      // create variable for variant color ex. primary, primary-100, primary-200, primary-300, primary-400, primary-500, primary-600, primary-700, primary-800, primary-900
      @if $name != 'neutral' {
        --#{$variable-prefix}#{$name}: var(--#{$variable-prefix}#{$color});
        --#{$variable-prefix}#{$name}-100: var(--#{$variable-prefix}#{$color}-100);
        --#{$variable-prefix}#{$name}-200: var(--#{$variable-prefix}#{$color}-200);
        --#{$variable-prefix}#{$name}-300: var(--#{$variable-prefix}#{$color}-300);
        --#{$variable-prefix}#{$name}-400: var(--#{$variable-prefix}#{$color}-400);
        --#{$variable-prefix}#{$name}-500: var(--#{$variable-prefix}#{$color}-500);
        --#{$variable-prefix}#{$name}-600: var(--#{$variable-prefix}#{$color}-600);
        --#{$variable-prefix}#{$name}-700: var(--#{$variable-prefix}#{$color}-700);
        --#{$variable-prefix}#{$name}-800: var(--#{$variable-prefix}#{$color}-800);
        --#{$variable-prefix}#{$name}-900: var(--#{$variable-prefix}#{$color}-900);
        --#{$variable-prefix}#{$name}-rgb: var(--#{$variable-prefix}#{$color}-rgb);
      }

      // create bg, text, border css variable for all colors ex. primary-bg-subtle, primary-text-emphasis, primary-border-subtle
      --#{$variable-prefix}#{$name}-bg-subtle: var(--#{$variable-prefix}#{$color}-100);
      --#{$variable-prefix}#{$name}-border-subtle: var(--#{$variable-prefix}#{$color}-200);
      --#{$variable-prefix}#{$name}-text-emphasis: var(--#{$variable-prefix}#{$color}-900);
    }

    // --ds-light: #C2C4C9;
    --ds-light-bg-subtle: #f5f5f6;
    --ds-light-border-subtle: var(--ds-gray-100);
    --ds-light-text-emphasis: #474d5c;

    // --ds-dark: var(--ds-gray-500);
    --ds-dark-bg-subtle: var(--ds-gray-100);
    --ds-dark-border-subtle: #c2c4c9;
    --ds-dark-text-emphasis: #0a0b0f;

    --ds-body-color: var(--ds-gray-500);
    --ds-body-bg: var(--ds-white);
    --ds-secondary-color: #e9ecef;
    --ds-secondary-bg: #f5f5f6;
    --ds-tertiary-color: var(--ds-gray-100);
    --ds-tertiary-bg: #ebebed;
    --ds-emphasis-color: var(--ds-black);
    --ds-border-color: var(--ds-gray-100);

    @include commonCssForAllTheme();
    @include initVars();

    --ds-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --ds-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --ds-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --ds-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);

    --ds-text-disabled: #d6d7db;
    --ds-text-primary: #33394a;
    --ds-text-secondary: #707480;
    --ds-text-secondary-inverse: #adb0b7;
    --ds-text-link: var(--ds-primary);
    --ds-input-plain-text: #33394a;
    --ds-body-secondary-color: #707480;

    --ds-popover-bg: var(--ds-white);
    --ds-tooltip-bg: #333;

    --ds-outline-button-bg: var(--ds-white);

    // box shadow useful for all input elements
    --ds-input-box-shadow: 0px 0px 0px 0.25rem rgba(64, 195, 217, 0.25);
    --ds-input-box-shadow-invalid: 0px 0px 0px 0.25rem rgba(232, 115, 103, 0.25);
    --ds-input-box-shadow-valid: 0px 0px 0px 0.25rem rgba(179, 209, 87, 0.25);

    --ds-input-focus-border: 1px solid rgba(var(--ds-primary-rgb), 0.5);
  }
}
