$variable-prefix: ds-;

/*
Color palette start do not change anything here.
*/
$white: #fff;
$gray-100: #d6d7db;
$gray-200: #adb0b8;
$gray-300: #858892;
$gray-400: #5c616e;
$gray-500: #33394a;
$gray-600: #292e3b;
$gray-700: #20222c;
$gray-800: #1b1d25;
$gray-900: #0f1116;
$black: #000;

$blue: #0866ff; //  (blue)
$sky-blue: #40c3d9; // Aero (sky-blue)
$indigo: #5063f9; // Neon Blue (blue)
$purple: #7850dd; // Majorelle Blue  (purple)
$pink: #bd3fa4; // Fandango (pink)
$red: #e15089; // Blush (red)
$orange: #f09544; // Sandy Brown (orange)
$yellow: #ffc107; // Amber (yellow)
$green: #b3d157; // Yellow Green (green)
$teal: #66c8ae; // Keppel
$cyan: #e87367; // Bittersweet (coral)
$neutral: #b2b8ca; // common for all theme

$gray: $gray-500;
$light: #c2c4c9;
$dark: $gray;
$charcoal: #37474f;

$primary: $blue;
$secondary: $indigo;
$success: $green;
$info: $sky-blue;
$warning: $yellow;
$danger: $cyan;

$custom-colors: (
  'blue': $blue,
  'skyblue': $sky-blue,
  'indigo': $indigo,
  'purple': $purple,
  'pink': $pink,
  'red': $red,
  'orange': $orange,
  'yellow': $yellow,
  'green': $green,
  'teal': $teal,
  'cyan': $cyan,
  'gray': $gray,
  'light': $light,
  'dark': $gray,
  'charcoal': $charcoal,
  'neutral': $neutral
);

$theme-colors: (
  'primary': 'blue',
  'secondary': 'indigo',
  'success': 'green',
  'info': 'skyblue',
  'warning': 'yellow',
  'danger': 'cyan',
  'neutral': 'neutral'
);

$font-family-base: 'IBM Plex Sans', sans-serif !default;
$font-size-base: 0.875rem !default; // 14px default
$body-text-align: left !default;

$border-radius: 0.375rem !default;
$border-radius-sm: 0.25rem !default;
$border-radius-lg: 0.5rem !default;
$border-radius-xl: 1rem !default;
$border-radius-xxl: 2rem !default;
$border-radius-pill: 50rem !default;

@mixin commonCssForAllTheme {
  // variable for all other properties start here
  --#{$variable-prefix}border-radius: 6px;
  --#{$variable-prefix}font-size: #{$font-size-base};
  --#{$variable-prefix}font-family: #{inspect($font-family-base)};
  // @include rfs($font-size-base, --#{$variable-prefix}font-size);
  --#{$variable-prefix}font-weight: normal;
  --#{$variable-prefix}line-height: 1.3em;

  @if $body-text-align != null {
    --#{$variable-prefix}text-align: left;
  }
  --#{$variable-prefix}border-width: 1px;
  --#{$variable-prefix}border-radius: #{$border-radius};
  --#{$variable-prefix}border-radius-sm: #{$border-radius-sm};
  --#{$variable-prefix}border-radius-lg: #{$border-radius-lg};
  --#{$variable-prefix}border-radius-xl: #{$border-radius-xl};
  --#{$variable-prefix}border-radius-xxl: #{$border-radius-xxl};

  // z-index
  --#{$variable-prefix}z-index-toast: 9999;
  --#{$variable-prefix}z-index-popover: 900;
  --#{$variable-prefix}z-index-tooltip: 900;
  --#{$variable-prefix}z-index-modal: 800;
  --#{$variable-prefix}z-index-panel: 700;
  --#{$variable-prefix}z-index-main-header: 600;
  --#{$variable-prefix}z-index-side-nav: 500;
  --#{$variable-prefix}z-index-dropdown: 400;
}

@mixin initVars() {
  --ds-spacing-1: 4px;
  --ds-spacing-2: 6px;
  --ds-spacing-3: 8px;
  --ds-spacing-4: 10px;
  --ds-spacing-5: 12px;
  --ds-spacing-6: 14px;
  --ds-spacing-7: 16px;
  --ds-spacing-8: 32px;

  --ds-gap: var(--ds-spacing-3);

  --ds-spacing-xs: var(--ds-spacing-1); // 4px
  --ds-spacing-sm: var(--ds-spacing-2); // 6px
  --ds-spacing-md: var(--ds-spacing-3); // 8px
  --ds-spacing-lg: var(--ds-spacing-4); // 10px
  --ds-spacing-xl: var(--ds-spacing-5); // 12px
  --ds-spacing-xxl: var(--ds-spacing-7); // 16px
  --ds-spacing-xxxl: var(--ds-spacing-8); // 32px

  --ds-spacing: var(--ds-spacing-md); // default padding 8px

  --ds-font-size-base: 0.875rem; /* 14px */

  --ds-font-size-sm: 0.75rem; /* 12px */
  --ds-font-size-md: 0.875rem; /* 14px */
  --ds-font-size-lg: 1rem; /* 16px */
  --ds-font-size-xl: 1.25rem; /* 20px */
}
