@import "fonts";

// special variables that will need to add in-case and override css variable directly
@import "light";
@import "dark";

@import "utilities";

html {
  font-size: 16px; // 1rem = 16px
}

[class^="ds-"]:focus-visible {
  outline: 1px solid var(--ds-primary);
}
