@import "../../styles/sd.scss";

.clear-icon {
  position: absolute;
  right: 8px;
  top: 9px;
  z-index: 1;
  cursor: pointer;

  &.sm-icon {
    top: 4px;
  }
}

.inputwrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 10px;
  position: relative;

  &.wrapper-inline {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
  }
}

.baseinput {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: #{$border-radius-md};
  background-color: #{$white};
  border: 1px solid #{$input-border-color};
  color: #{$text};

  &::placeholder {
    color: #{$input-placeholder-color};
    opacity: 1;
  }

  &:focus {
    color: #{$text};
    background-color: #{$input-bg};
    border-color: #{$input-focus-border};
    outline: 0;
    box-shadow: #{$input-focus-shadow};
  }

  &:disabled {
    color: #{$input-placeholder-color};
    opacity: 0.75;
    background-color: var(--input-disabled-bg);
  }

  &.truncated-input {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 20px;
  }

  &.sm-input {
    min-height: 24px;
    height: 15px;
  }

  &.lg-input {
    min-height: 50px;
    height: 40px;
    font-size: 1.3rem;
  }

  &.error-input {
    border-color: var(--danger);
  }
}

.inputBox {
  position: relative;
  .input-disabled {
    cursor: not-allowed;
  }
}

.error-icon {
  cursor: default;
  color: var(--danger);
  &-number {
    right: 35px;
  }
}

.error-message {
  color: var(--danger);
  padding-top: 5px;
  font-size: 12px;
}
