@import "../../styles/sd.scss";

.sd-switch {
  display: flex;
  max-width: fit-content;
  align-items: center;
  gap: 0.5em;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.7;
    pointer-events: none;
    filter: grayscale(100%);
  }

  &__reversed {
    flex-direction: row-reverse;
  }

  &__switch {
    position: relative;
    align-items: center;
    display: inline-block;
    width: 32px;
    height: 16px;

    &--sm {
      width: 28px;
      height: 14px;
    }

    &--lg {
      width: 36px;
      height: 18px;
    }

    &--xl {
      width: 40px;
      height: 20px;
    }
  }

  &__switch input {
    opacity: 0;
  }

  &__slider {
    background-color: #d9d9d9;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
    border-radius: 34px;
    border: 1px solid #d9d9d9;
    outline: none;

    &--sm {
      border-radius: 32px;
    }

    &--lg {
      border-radius: 36px;
    }

    &--xl {
      border-radius: 40px;
    }

    &:hover,
    &:focus {
      border: 1px solid #d9d9d9;
      box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
    }
  }

  &__slider:before {
    position: absolute;
    content: "";
    left: 1px;
    bottom: 1.25px;
    background-color: #d9d9d9;
    transition: 0.4s;
    border-radius: 50%;

    height: 0.75rem;
    width: 0.75rem;
  }
  &__slider {
    &--sm:before {
      left: 1px;
      bottom: 1px;
      height: 0.65rem;
      width: 0.65rem;
    }

    &--lg:before {
      left: 1px;
      bottom: 2px;
      height: 0.8rem;
      width: 0.8rem;
    }

    &--xl:before {
      left: 1px;
      bottom: 2px;
      height: 0.875rem;
      width: 0.875rem;
    }
  }

  &__switch input:checked + &__slider {
    background-color: #d9d9d9;

    &.sd-switch__slider--invalid {
      border: 1px solid $danger;
      background-color: $danger;

      &:hover,
      &:focus {
        box-shadow: $input-focus-shadow;
      }
    }

    &.sd-switch__slider--valid {
      border: 1px solid $success;
      background-color: $success;

      &:hover,
      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
      }
    }
  }

  &__switch input + &__slider:before {
    background-color: #565656;
    transform: translateX(2px);
  }

  &__switch input:checked + &__slider:before {
    background-color: #15cc88;
    transform: translateX(16px);
  }

  &__switch--sm input + &__slider--sm:before {
    transform: translateX(1px);
  }

  &__switch--sm input:checked + &__slider--sm:before {
    transform: translateX(13px);
  }

  &__switch--lg input:checked + &__slider--lg:before {
    transform: translateX(18px);
  }

  &__switch--xl input:checked + &__slider--xl:before {
    transform: translateX(20px);
  }

  &__label {
    font-size: 1rem;
  }
}
