@import "@/scss/function";
@include addVariables {
  .ds-btn {
    --ds-btn-bg: var(--color-500);
    --ds-btn-hover: var(--color-600);
    --ds-btn-active: var(--color-700);
    --ds-btn-shadow: var(--color-100);
  }
}
@include addVariables(dark) {
  .ds-btn {
    --ds-btn-bg: var(--color-500);
    --ds-btn-hover: var(--color-700);
    --ds-btn-active: var(--color-400);
    --ds-btn-shadow: var(--color-800);
  }
}
.ds-btn {
  @include all-variant-class;
  @include all-size-class;
  @include add-reboot;
  border-radius: var(--ds-border-radius);
  &--circle {
    border-radius: 500px;
  }
  outline: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  text-transform: uppercase;
  text-wrap: nowrap;
  cursor: pointer;

  &.disabled {
    &:not(.ds-btn-link):not(.ds-btn-outlined):not(.ds-btn-dashline) {
      border: none;
      color: var(--ds-text-disabled);
      background-color: var(--ds-text-secondary);
      cursor: not-allowed;
    }
    &.ds-btn-link {
      color: var(--ds-text-disabled);
      border: none;
      cursor: not-allowed;
      color: var(--ds-text-disabled);
    }

    &.ds-btn-outlined {
      color: var(--ds-text-disabled);
      border: 1px solid var(--ds-text-disabled);
      background-color: var(--ds-outline-button-bg);
      cursor: not-allowed;
    }
  }

  &:not(.ds-btn-outlined):not(.ds-btn-dashline):not(.ds-btn-link) {
    background-color: var(--ds-btn-bg);
    border: 1px solid var(--ds-btn-bg);
    color: var(--ds-white);
    &:not(.disabled) {
      &:hover,
      &:focus {
        background-color: var(--ds-btn-hover);
        border-color: var(--ds-btn-bg);
      }
      &:focus {
        box-shadow: 0 0 0 0.25rem var(--ds-btn-shadow);
      }

      &:active,
      &.active {
        background-color: var(--ds-btn-active);
        border-color: var(--ds-btn-bg);
        box-shadow: none;
      }
    }
  }

  &-link {
    background-color: var(--ds-transparent);
    border: 1px solid var(--ds-transparent);
    color: var(--ds-btn-bg);
    &:not(.disabled) {
      &:hover,
      &:focus {
        color: var(--ds-btn-hover);
      }
      &:focus {
        box-shadow: 0 0 0 0.25rem var(--ds-btn-shadow);
      }
      &:active,
      &.active {
        color: var(--ds-btn-active);
        box-shadow: none;
      }
    }
    &.disabled {
      color: var(--ds-text-disabled);
    }
  }

  &-outlined {
    background-color: var(--ds-transparent);
    border: 1px solid var(--ds-btn-bg);
    color: var(--ds-text-secondary);

    &:not(.disabled) {
      &:hover,
      &:focus {
        color: var(--ds-text-primary);
        background-color: var(--ds-btn-shadow);
        border-color: var(--ds-btn-bg);
      }
      &:focus {
        box-shadow: 0 0 0 0.25rem var(--ds-btn-shadow);
      }

      &:active,
      &.active {
        background-color: var(--ds-btn-bg);
        border-color: var(--ds-btn-bg);
        box-shadow: none;
        color: var(--ds-white);
      }
    }
  }
  &-outlined.disabled {
    color: var(--ds-text-disabled);
    border: 1px solid var(--ds-text-disabled);
    background-color: var(--ds-outline-button-bg);
    cursor: not-allowed;
  }

  &-dashline {
    background-color: var(--ds-transparent);
    border: 1px dashed var(--ds-text-secondary);
    color: var(--ds-btn-bg);
    &:not(.disabled) {
      &:hover,
      &:focus {
        color: var(--ds-btn-bg);
        border-color: var(--ds-btn-bg);
      }
      &:focus {
        box-shadow: 0 0 0 0.25rem var(--ds-btn-shadow);
      }

      &:active,
      &.active {
        background-color: var(--ds-btn-shadow);
        border-color: var(--ds-btn-bg);
        box-shadow: none;
        color: var(--ds-btn-bg);
      }
    }
  }
  &-dashline.disabled {
    color: var(--ds-text-disabled);
    border: 1px dashed var(--ds-text-disabled);
    background-color: var(--ds-outline-button-bg);
    cursor: not-allowed;
  }
}
