.sd-icon {
  display: inline-flex;
  &--sm {
    transform: scale(0.75);
  }

  &--md {
    transform: scale(1);
  }

  &--lg {
    transform: scale(1.25);
  }

  &--xl {
    transform: scale(1.5);
  }
}
