.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;

  .scrollContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1.4rem 2rem;
  }

  @media (max-width: 900px) {
    .scrollContainer {
      padding: 1.4rem 1rem;
    }
  }


  .centered {
    width: 60%;
    min-width: 720px;
    margin: 0 auto;
  }
  .header {
    margin-bottom: 10px;
  }
  .title {
    &.md {
      font-weight: 600;
      font-size: 20px;
      color: var(--primary);
      margin-bottom: 10px;
    }
    &.lg {
      font-weight: 600;
      font-size: 22px;
      color: var(--primary);
      margin-bottom: 10px;

    }
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    height: 0;
  }
  .error {
    height: 250px;
  }

  .mt15 {
    margin-top: 5px;
  }
}
