@import "../../styles/sd.scss";

.sd-btn {
  display: inline-block;
  cursor: pointer;

  &--solid {
    background-color: var(--primary);
    border: none;
    color: #{$white};
    &:hover {
      box-shadow: 1px 1px 1px var(--primary);
    }
  }

  &--hollow {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    &:hover {
      background-color: var(--primary);
      color: var(--primary);
    }
  }

  &--link {
    background-color: transparent;
    border-color: transparent;
    color: #{$primary};
    &:hover {
      filter: brightness(80%);
    }
  }
  
  &--danger-solid {
    background-color: #{$danger};
    border: none;
    color: #{$white};
    &:hover {
      box-shadow: 1px 1px 1px #{$danger};
    }
  }

  &--danger-hollow {
    background-color: transparent;
    border: 1px solid #{$danger};
    color: #{$danger};
    &:hover {
      background-color: #{$danger};
      color: #{$white};
    }
  }

  &--danger-link {
    background-color: transparent;
    border-color: transparent;
    color: #{$danger};
    &:hover {
      filter: brightness(80%);
    }
  }

  &--xs {
    padding: $btn-padding-y-xs $btn-padding-x-xs;
    font-size: $btn-font-size-xs;
  }

  &--sm {
    padding: $btn-padding-y-sm $btn-padding-x-sm;
    font-size: $btn-font-size-sm;
  }

  &--md {
    padding: $btn-padding-y-md $btn-padding-x-md;
    font-size: $btn-font-size-md;
  }

  &--lg {
    padding: $btn-padding-y-lg $btn-padding-x-lg;
    font-size: $btn-font-size-lg;
  }

  &.disabled{
    pointer-events: none;
    opacity: 0.5;
    color: rgb(186, 186, 186);
  }
}
